{% load static %}

<li>
    <article class="post">
      <a href="">
        <img src="{% static 'images/mountains.jpg' %}" alt="Mountain Hiking" />
        <div class="post__content">
          <h3>Mountain Hiking</h3>
          <p>
            There's nothing like the views you get when hiking in the
            mountains! And I wasn't even prepared for what happened whilst I
            was enjoying the view!
          </p>
        </div>
      </a>
    </article>
</li>

<li>
    <article class="post">
      <a href="">
        <img src="{% static 'images/coding.jpg' %}" alt="Coding" />
        <div class="post__content">
          <h3>Coding</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam
            voluptatibus deserunt nesciunt explicabo porro quos illo iste 
            dignissimos possimus ab ipsum pariatur error est, sit maxime, 
            saepe et odit maiores?
          </p>
        </div>
      </a>
    </article>
</li>

<li>
    <article class="post">
      <a href="">
        <img src="{% static 'images/woods.jpg' %}" alt="Woods" />
        <div class="post__content">
          <h3>Woods</h3>
          <p>
            Wood is a structural tissue found in the stems and roots of trees 
            and other woody plants. It is an organic material – a natural 
            composite of cellulose fibers that are strong in tension and 
            embedded in a matrix of lignin that resists compression.
          </p>
        </div>
      </a>
    </article>
</li>